<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <link href="/css/normalize.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
  <title>Лучший спортзал Москвы</title>
</head>
<body>
  <header>{{> navbar}}</header>
  <main>{{{body}}}</main>
  <footer>{{> footer}}</footer>

</body>
</html>
