<main class="main">

    <section class="game">
      <h2 class="game__title">Мы ведем обучение <br> по нескольким направлениям </h2>
      <ul class="game__list">
        <li class="game__item">
          <div class="game__item__blur">
            <p class="game__item__r1">Школа волейбола</p>
            <p class="game__item__r2"> Краткое описание школы воллейбола</p>
            <div class="game__item__flex">
              <p class="game__item__p1">12 курсов</p>
              <p class="game__item__p2">рассписание</p>
            </div>
          </div>
        </li>
        <li class="game__item">
          <div class="game__item__blur">
            <p class="game__item__r1">Школа футбола</p>
            <p class="game__item__r2"> Краткое описание школы воллейбола</p>
            <div class="game__item__flex">
              <p class="game__item__p1">12 курсов</p>
              <p class="game__item__p2">рассписание</p>
            </div>
          </div>
        </li>
        <li class="game__item">
          <div class="game__item__blur">
            <p class="game__item__r1">Школа бега</p>
            <p class="game__item__r2"> Краткое описание школы воллейбола</p>
            <div class="game__item__flex">
              <p class="game__item__p1">12 курсов</p>
              <p class="game__item__p2">рассписание</p>
            </div>
          </div>
        </li>

      </ul>
    </section>
    <section class="news">
      <a name="news"> <h2 class="news__title">Новости</h2></a>
     
      {{!-- защитить кнопку - только если сессия админа  --}}
      <a class="header__button__out" href="/addpost" style="width:fit-content">Добавить новость</a>
      <!-- слайдер -->
      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block slideb_1 " alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>First slide label</h5>
              <p>Some representative placeholder content for the first slide.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block slideb_2 " alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Second slide label</h5>
              <p>Some representative placeholder content for the second slide.</p>
            </div>
          </div>
          <div class="carousel-item">
            <div class="d-block slideb_3 " alt="..."></div>
            <div class="carousel-caption d-none d-md-block">
              <h5>Third slide label</h5>
              <p>Some representative placeholder content for the third slide.</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </section>

    <section class="reviews">
      <h2 class="reviews__title">Отзывы</h2>
    
      <ul class="reviews__list">
        <li class="reviews__item">
          <div class="reviews__div">
            <img src="/img/noavatar.jpg">
            <p>Иванов Иван</p>
            <p>Текст отзыва Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sapien velit, aliquet ege.</p>
          </div>
        </li>
        <li class="reviews__item">
          <div class="reviews__div">
            <img src="/img/noavatar.jpg">
            <p>Иванов Иван</p>
            <p>Текст отзыва Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sapien velit, aliquet ege.</p>
          </div>
        </li>
        <li class="reviews__item">
          <div class="reviews__div">
            <img src="/img/noavatar.jpg">
            <p>Иванов Иван</p>
            <p>Текст отзыва Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sapien velit, aliquet ege.</p>
          </div>
        </li>
        <li class="reviews__item">
          <div class="reviews__div">
            <img src="/img/noavatar.jpg">
            <p>Иванов Иван</p>
            <p>Текст отзыва Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sapien velit, aliquet ege.</p>
          </div>
        </li>
        <li class="reviews__item">
          <div class="reviews__div">
            <img src="/img/noavatar.jpg">
            <p>Иванов Иван</p>
            <p>Текст отзыва Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sapien velit, aliquet ege.</p>
          </div>
        </li>
     

      </ul>
  
    </section>
    <section class="feedback">
      <h2 class="feedback__title">Заказать обратный звонок</h2>
      <form class="feedback__form">

        <input placeholder="Ваше имя">
        <input placeholder="Контактный телефон">

        </label>
        <button class="feedback__button">Заказать</button>
      </form>
    </section>
{{!-- 
    <section class="gallery">
      <h2 class="gallery__title"> Фотогалерея</h2>
      <ul class="gallery__list">
        <li class="gallery__item">
          <img src=""></img>
        </li>
      </ul>
    </section> --}}

    <section class="map">
      <div class="map__contacts">
        <p class="map__adress">Наш телефон: </p>
        <a class="map__telephon">+7 (999) 999 99 99</a>
      </div>
      <iframe
        src="https://yandex.ru/map-widget/v1/?um=constructor%3A1809a21740831016bd85ce7ca6dfac270e118dd4fcf307ced5980ba3f334f695&amp;source=constructor"
        width="100%" height=300" frameborder="0"></iframe>
      <a class="map__button" href=""></a>
    </section>
  </main>
