<main class="main">

    <section class="game">
      <h2 class="game__title">Мы ведем обучение <br> по нескольким направлениям </h2>
      <ul class="game__list">
        <li class="game__item">
          <div class="game__item__blur">
            <p class="game__item__r1">Школа волейбола</p>
            <p class="game__item__r2"> Краткое описание школы воллейбола</p>
            <div class="game__item__flex">
              <p class="game__item__p1"></p>
              <p class="game__item__p2"></p>
            </div>
          </div>
        </li>
        <li class="game__item">
          <div class="game__item__blur">
            <p class="game__item__r1">Школа волейбола</p>
            <p class="game__item__r2"> Краткое описание школы воллейбола</p>
            <div class="game__item__flex">
              <p class="game__item__p1"></p>
              <p class="game__item__p2"></p>
            </div>
          </div>
        </li>
        <li class="game__item">
          <div class="game__item__blur">
            <p class="game__item__r1">Школа волейбола</p>
            <p class="game__item__r2"> Краткое описание школы воллейбола</p>
            <div class="game__item__flex">
              <p class="game__item__p1"></p>
              <p class="game__item__p2"></p>
            </div>
          </div>
        </li>
        <li class="game__item">
          <div class="game__item__blur">
            <p class="game__item__r1">Школа волейбола</p>
            <p class="game__item__r2"> Краткое описание школы воллейбола</p>
            <div class="game__item__flex">
              <p class="game__item__p1"></p>
              <p class="game__item__p2"></p>
            </div>
          </div>
        </li>
      </ul>
    </section>
    <section class="news">
      <h2 class="news__title">Новости</h2>
      <!-- слфйдер -->

    </section>
    

    <section class="reviews">
      <h2 class="reviews__title">Отзывы</h2>
      <ul class="reviews__list">
        <li class="reviews__item">
          <div class="reviews__div">
            <img src="/iimg/noavatar.jpg">
            <p>Иванов Иван</p>
            <p>Отзыв</p>
          </div>
        </li>
      </ul>
    </section>
    <section class="feedback">
      <h2>Заказать обратный звонок</h2>
      <form class="feedback__form">

        <input placeholder="Ваше имя">
        <input placeholder="Контактный телефон">

        </label>
        <button class="feedback__button">Заказать</button>
      </form>
    </section>

    <section class="gallery">
      <h2 class="gallery__title"> Фотогалерея</h2>
      <ul class="gallery__list">
        <li class="gallery__item">
          <img src=""></img>
        </li>
      </ul>
    </section>
    <section class="map">
      <div class="map__contacts">
        <p class="map__adress">Наш адреc: </p>
        <a class="map__telephon">+7 (999) 999 99 99</a>
      </div>
      <iframe
        src="https://yandex.ru/map-widget/v1/?um=constructor%3A1809a21740831016bd85ce7ca6dfac270e118dd4fcf307ced5980ba3f334f695&amp;source=constructor"
        width="100%" height="400" frameborder="0"></iframe>
      <a class="map__button" href=""></a>
    </section>
  </main>
