  <footer class="footer ">


    <div class="footer__r1">

      <div class="footer__r1__wrapper">
        <img class="footer__logo" src="/img/logo-footer.png">

        <div class="footer__c3">
          <a>8 800 245-23-23</a>
          <a class="footer__c3A">Оставить заявку</a>
        </div>
      </div>
    </div>
    <div class="footer__r2">
      <p> © 2019 - Академия Мегаспорт</p>
      <ul class="footer__c2">
        <li><a class="main-footer__facebook" aria-label="Ссылка на facebook" target="_blank" href="https://ru-ru.facebook.com/"></a></li>
        <li><a class="main-footer__instagram" aria-label="Ссылка на instagram" target="_blank" href="https://www.instagram.com/?hl=ru"></a></li>
        <li><a class="main-footer__twitter" href="https://twitter.com/?lang=ru" aria-label="Ссылка на twitter" target="_blank" ></a></li>
      </ul>
      <a>Политика конфиденциальности</a>
    </div>

  </footer>
