<footer class="footer">


    <div class="footer__r1">

      <img class="footer__logo" src="/img/logo-footer.png">

      <ul class="footer__c2">
        <li><a class="main-footer__facebook" aria-label="Ссылка на facebook" href=""></a></li>
        <li><a class="main-footer__instagram" aria-label="Ссылка на instagram" href=""></a></li>
        <li><a class="main-footer__twitter" aria-label="Ссылка на twitter" href=""></a></li>
      </ul>
      <div class="footer__c3">
        <a>8 800 245-23-23</a>
        <a>Оставить заявку</a>
      </div>
    </div>
    <div class="footer__r2">
      <p> © 2019 - Академия Мегаспорт</p>
      <a href='/policy'>Политика конфиденциальности</a>
    </div>

  </footer>
