  <footer class="footer">
    <div>
      <img>
      <p></p>
    </div>
    <ul class="footer__socials">
      <li><a class="main-footer__facebook" aria-label="Ссылка на facebook" href=""></a></li>
      <li><a class="main-footer__instagram" aria-label="Ссылка на instagram" href=""></a></li>
      <li><a class="main-footer__twitter" aria-label="Ссылка на twitter" href=""></a></li>
    </ul>
    <div>
      <a>8 800 245-23-23</a>
      <a>Оставить заявку</a>
      <a>Политика конфиденциальности</a>
    </div>
  </footer>
